<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IServiceContract">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8702/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServiceContract" contract="ServiceRef.IServiceContract"
                name="NetTcpBinding_IServiceContract">
                <identity>
                    <userPrincipalName value="LAPTOP-HNHRN3PT\79096" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>